body { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: black;
  background: white;
}

caption, p, td, th, input, textarea, select, ul {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}


h2.subtitle { font-size: 10pt;
              font-weight: normal;
              font-style: italic;
              margin-left:.5cm;
}

span.term { font-weight: bold;}

a:link, a:visited { 
  color: #5A4E87;
}

a:hover { 
  color: #FF3300;
  text-decoration: underline;
}

